.venv/
__pycache__/
.pytest_cache/
*.pyc
.env
.vscode/
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
trust-policy.json
github-actions-permissions.json